#
# pnpm config https://pnpm.io/npmrc
#

# See https://pnpm.io/cli/run#enable-pre-post-scripts
enable-pre-post-scripts=true

# Required to make Storybook work with pnpm
# https://github.com/storybookjs/builder-vite/issues/55#issuecomment-1273158147
public-hoist-pattern[]=*storybook*
